/* Fonts Import */
@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

/* CSS Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

/* General Styling */

body {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  background-color: ghostwhite;
}

/* Navbar Section */

.btn:focus {
  outline: none;
  box-shadow: none;
}

.logo {
  font-size: 22px;
  font-weight: 500;
}

.checkout-btn {
  margin-left: 20px;
}

/* Products Section */

main {
  margin-top: 40px;
}

.section-heading {
  margin-bottom: 20px;
}

.page-container-products {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-gap: 50px;
}

.products-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 18px;
}

.card {
  margin-right: 20px;
}

/* Checkout Section */

.page-container-checkout {
  display: grid;
  grid-template-columns: 5fr 3fr;
}

.checkout-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin-bottom: 50px;
  border-bottom: 3px solid slategray;
}

.cart-count {
  font-size: 16px;
  color: slategray;
}

.checkout-form {
  background: white;
  padding: 30px;
}

.message-section {
  margin-top: 15px;
  margin-bottom: 15px;
}

.msg {
  padding: 20px;
  color: white;
  margin-bottom: 10px;
}

.alert {
  background-color: #f44336;
}

.success {
  background-color: #2fb986;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.confirm-checkout-btn {
  width: 100%;
  text-align: center;
}
